<div class="wrap-960">
    <p>
        According to our records, you have already used this email to confirm your identity,
        create a password, and complete the sign up process.
    </p>
    <p>
        If you forgot your password, <a href="@Url.Action(MVC.Passwords.ForgotPassword.Get())">
            you can reset it here using your email address</a>.
    </p>
    <p>
        You will then be able to reset your password and sign in.
    </p>
</div>
