<div class="wrap-960">
    <p>
        For security purposes, password reset codes are only valid for 2 hours after they
        are issued.
    </p>
    <p>
        To reset your password, please <a href="@Url.Action(MVC.Passwords.ForgotPassword.Get())">
            click here to have a new password reset email sent to you</a>.
    </p>
    <p>
        When you receive the email, use it to reset your password within 2 hours.
    </p>
</div>
