@{
    ViewBag.Title = "Page Not Found (404 Error)";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960">
    <p>
        Sorry, but UCosmic was unable to find a web page or other resource at this URL.
    </p>
    <p>
        If you believe you have reached this page in error, <a href="mailto:bug@ucosmic.com?subject=UCosmic 404 Error">
            please tell us</a>.
    </p>
    <p>
        If you reached this page by manually typing a URL into your browser, please don't.
    </p>
</div>
<div id="not_found_404">
    This is the standard HTTP 404 not found page.
</div>