@model UCosmic.Www.Mvc.Areas.Identity.Models.ResetPasswordForm
@{
    ViewBag.Title = "Reset your password";
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(
            MVC.Identity.ResetPassword.ActionNames.Post,
            MVC.Identity.ResetPassword.Name,
            new
            {
                area = MVC.Identity.Name,
                httpMethod = "POST",
            }
        ))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Reset Password</legend>
                <p>
                    To reset your password, enter the same password in both text boxes below and click
                    the <strong>Reset Password</strong> button.
                </p>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Passwords may contain any combination of uppercase and lowercase letters, numbers,
            and special characters. The only restriction is that passwords must contain <b>at least
                6 characters</b>.
        </p>
        <p>
            If you want to create a strong password, use a combination of uppercase and lowercase
            letters, numbers, and special characters.
        </p>
        <p>
            After you reset your password, you will need to use it to sign on.
        </p>
        <p>
            If you ever forget your password again, you can use your email address to reset it.
        </p>
    </div>
</div>
