@model UCosmic.Www.Mvc.Areas.Identity.Models.SignOnForm
@{
    ViewBag.Title = "Sign on to UCosmic";
}
<div class="wrap-960 split-form">
    <div class="left">
        <p>
            UCosmic now has the ability to sign you on using your institutional password. <a
                href="@Url.Action(MVC.Identity.ListIdentityProviders.Get())">Here is a list of currently
                integrated institutions</a>.
        </p>
        <p>
            If your institution is not integrated, but <a href="http://www.ucosmic.org/CurrentMembers.aspx"
                target="_blank">is a consortium member</a>, you can sign up for a UCosmic account
            using your email address.
        </p>
        <p>
            <strong style="color: #c00;">Important:</strong> Be sure to enter your institutional
            work email address, such as username<strong>@@suny.edu</strong>. Single sign on
            will not work with @@gmail.com, @@yahoo.com, or other public email domains.
        </p>
    </div>
    <div class="right">
        @Html.Partial(MVC.Identity.Shared.Views._sign_on_form, Model)
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $('input[type=email]').focus();
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false,
            onsubmit: true
        });
    </script>

}
