@model UCosmic.Www.Mvc.Areas.Identity.Models.SignOverForm
@{
    ViewBag.Title = "Sign on as a different user";
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(
            MVC.Identity.SignOver.ActionNames.Post,
            MVC.Identity.SignOver.Name,
            new
            {
                area = MVC.Identity.Name,
                httpMethod = "POST",
            }
        ))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Sign On</legend>
                <br />
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false
        });
        $('input[type=email]').focus();
    </script>

}
