@model UCosmic.Www.Mvc.Areas.Identity.Models.SignOverForm
@{
    Layout = MVC.Shared.Views.layout;
    ViewBag.Title = "Sign on as a different user";
}
<div class="wrap-960 split-form">
    <div class="left">
        @Html.Partial(MVC.Identity.Shared.Views._sign_over_form, Model)
    </div>
    <div class="right">
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false
        });
        $('input[type=email]').focus();
    </script>

}
