@model UCosmic.Www.Mvc.Areas.Identity.Models.UpdateEmailValueForm
@{
    ViewBag.Title = "Manage my email address";
}
<div class="wrap-960">
    <h2>
        My <strong>@Model.Value</strong> Email Address
    </h2>
    <br/>
    <div class="split-form">
        <div class="left">
            @using (Html.BeginForm(
                MVC.Identity.UpdateEmailValue.ActionNames.Put,
                MVC.Identity.UpdateEmailValue.Name,
                new
                {
                    area = MVC.Identity.Name,
                    httpMethod = "POST"
                },
                FormMethod.Post,
                new
                {
                    @class = "email-respell",
                    data_entity_id = Model.Number
                }
            ))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                <fieldset>
                    <legend>Change Email Spelling</legend>
                    <p>
                        Use the form below to change the spelling of your email address.
                    </p>
                    @Html.EditorForModel()
                </fieldset>
            }
        </div>
        <div class="right">
            <p>
                Email addresses are case-insensitive. You can use this form to capitalize or uncapitalize
                letters in your email address.
            </p>
            <p>
                For example, you can change your email from first.last@domain.edu to First.Last@domain.edu.
            </p>
            <p>
                Use the form on the left to change the spelling of your email address and click
                the <b>Save Changes</b> button.
            </p>
            <p>
                If you do not want to change the spelling of your email address, click the <b>Cancel</b>
                button.
            </p>
        </div>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false,
            onsubmit: true
        });
    </script>

}
