@model UCosmic.Www.Mvc.Areas.Identity.Models.UpdatePasswordForm
@{
    ViewBag.Title = "My password";
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(
            MVC.Identity.UpdatePassword.ActionNames.Post,
            MVC.Identity.UpdatePassword.Name,
            new
            {
                area = MVC.Identity.Name,
                httpMethod = "POST",
            }
        ))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Change your password</legend>
                <br/>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Passwords may contain any combination of uppercase and lowercase letters, numbers,
            and special characters. The only restriction is that passwords must contain <b>at least
                6 characters</b>.
        </p>
        <p>
            If you want to create a strong password, use a combination of uppercase and lowercase
            letters, numbers, and special characters.
        </p>
        <p>
            Use the form on the left to change your password:
        </p>
        <ol class="p flush-left">
            <li>Enter your current password in the first text box.</li>
            <li>Enter your new password in the other two text boxes.</li>
            <li>Click the Change Password button to change your password.</li>
        </ol>
        <p>
            If you do not want to change password, click the Cancel button
        </p>
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false,
            onsubmit: true
        });
        $('input[type=password]').focus();
    </script>

}

