<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    </configSections>
    <specFlow>
        <!-- Target MSTest instead of NUnit -->
        <unitTestProvider name="MsTest.2010" />
    </specFlow>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ApplicationServices;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <add name="UCosmicContext" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UCosmicDev;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <!--<add name="ApplicationServices" connectionString="Server=b8fea071-747c-443a-9cb0-9fea00619916.sqlserver.sequelizer.com;Database=dbb8fea071747c443a9cb09fea00619916;User ID=dqejwctztgkdwbjn;Password=oNhK4iPJ6o5dGYoi2Gg32BiCteGNTXT4HeKNMN587HyNiQv4bqpt6CNTELqYJbXh;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <add name="UCosmicContext" connectionString="Server=b8fea071-747c-443a-9cb0-9fea00619916.sqlserver.sequelizer.com;Database=dbb8fea071747c443a9cb09fea00619916;User ID=dqejwctztgkdwbjn;Password=oNhK4iPJ6o5dGYoi2Gg32BiCteGNTXT4HeKNMN587HyNiQv4bqpt6CNTELqYJbXh;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <appSettings>
        <add key="DeployedTo" value="test.ucosmic.com" />
        <add key="GeoPlanetAppId" value="IQ8qmdzV34Fym0.ZGgLAT2e0t0ZR.IL9seudXbNvocaGxOgk34gtQpa7uWPDStsaWgvco5rW8Lo-" />
        <add key="BaseUrl" value="https://develop.ucosmic.com/" />
        <!--<add key="BaseUrl" value="https://ucosmic-qa.apphb.com/" />-->
        <add key="WarmUpBrowsersBeforeTestRun" value="true" />
        <add key="RestartDbServerBeforeTestRun" value="false" />
        <add key="ClearTransportLevelErrorsAfterDbServerRestart" value="false" />
        <add key="InitializeAndSeedDbBeforeTestRun" value="false" />
        <add key="DefaultWebDriverWaitSeconds" value="4" />
        <add key="BrowserWindowWidth" value="1024" />
        <add key="BrowserWindowLeft" value="0" />
        <add key="ChromeWindowLeft" value="0" />
        <add key="FirefoxWindowLeft" value="250" />
        <!--<add key="FirefoxWindowLeft" value="2248" />-->
        <add key="InternetExplorerWindowLeft" value="500" />
        <!--<add key="InternetExplorerWindowLeft" value="2576" />-->
        <add key="ChromeResetInterval" value="0" />
        <add key="FirefoxResetInterval" value="0" />
        <add key="InternetExplorerResetInterval" value="0" />
        <add key="TestMailInbox" value="content/mail" />
        <add key="TestMailDelivery" value="qa/deliver-mail" />
        <add key="TestMailReset" value="qa/reset-mail" />
    </appSettings>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <!-- Assemblies to search for interfaces & classes -->
        <assembly name="WebDriver" />
        <namespace name="OpenQA.Selenium" />
        <namespace name="OpenQA.Selenium.Chrome" />
        <namespace name="OpenQA.Selenium.Firefox" />
        <namespace name="OpenQA.Selenium.IE" />
        <assembly name="UCosmic.Api" />
        <assembly name="UCosmic.Domain" />
        <assembly name="UCosmic.Impl" />
        <assembly name="UCosmic.Www.Mvc" />
        <namespace name="UCosmic" />
        <namespace name="UCosmic.Domain" />
        <namespace name="UCosmic.Orm" />
        <namespace name="UCosmic.Seeders" />
        <assembly name="NGeo" />
        <namespace name="NGeo.GeoNames" />
        <namespace name="NGeo.Yahoo.GeoPlanet" />
        <namespace name="NGeo.Yahoo.PlaceFinder" />
        <typeAliases>
            <typeAlias alias="IDatabaseInitializer" type="System.Data.Entity.IDatabaseInitializer`1[[UCosmic.Orm.UCosmicContext, UCosmic.Impl]], EntityFramework" />
        </typeAliases>
        <!-- default injection container -->
        <container>
            <!-- When injecting dependencies for IWebDriver, inject up to 3 browsers -->
            <!-- to test with less than 3, temporarily comment out the undesired browsers -->
            <register name="ChromeDriver" type="IWebDriver" mapTo="ChromeDriver">
                <lifetime type="singleton" />
                <constructor>
                    <param name="chromeDriverDirectory" value="C:\" />
                </constructor>
            </register>
            <register name="InternetExplorerDriver" type="IWebDriver" mapTo="InternetExplorerDriver">
                <lifetime type="singleton" />
                <constructor />
            </register>
            <register name="FirefoxDriver" type="IWebDriver" mapTo="FirefoxDriver">
                <lifetime type="singleton" />
                <constructor />
            </register>
            <!-- End of IWebDriver dependencies  -->
            <!--<register type="IDatabaseInitializer" mapTo="DropAlwaysInitializer" />-->
            <register type="IDatabaseInitializer" mapTo="BrownfieldInitializer" />
            <!--<register type="ISeedDb" mapTo="CompositeDbSeeder" />-->
            <register type="ISeedDb" mapTo="BrownfieldDbSeeder" />
            <register type="IUnitOfWork" mapTo="UCosmicContext">
                <lifetime type="singleton" />
            </register>
            <register type="IManageConfigurations" mapTo="DotNetConfigurationManager" />
            <register type="IConsumeGeoNames" mapTo="GeoNamesClient">
                <lifetime type="singleton" />
            </register>
            <register type="IConsumeGeoPlanet" mapTo="GeoPlanetClient">
                <lifetime type="singleton" />
            </register>
            <register type="IConsumePlaceFinder" mapTo="PlaceFinderClient">
                <lifetime type="singleton" />
            </register>
        </container>
    </unity>
    <system.web>
        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
                <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
            </providers>
        </membership>
        <profile defaultProvider="AspNetSqlProfileProvider">
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
                <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
            </providers>
        </profile>
        <roleManager enabled="true" defaultProvider="UCosmicRoleProvider">
            <providers>
                <clear />
                <add name="UCosmicRoleProvider" type="UCosmic.Impl.CustomRoleProvider" />
            </providers>
        </roleManager>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="NGeoBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.geonames.org" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.GeoNames.IInvokeGeoNamesServices" behaviorConfiguration="NGeoBehavior" />
            <endpoint address="http://where.yahooapis.com/v1" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.GeoPlanet.IInvokeGeoPlanetServices" behaviorConfiguration="NGeoBehavior" />
            <endpoint address="http://where.yahooapis.com" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.PlaceFinder.IInvokePlaceFinderServices" behaviorConfiguration="NGeoBehavior" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NGeoBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>