<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="FluentValidation" version="3.3.1.0" />
  <package id="Newtonsoft.Json" version="4.5.1" />
  <package id="Selenium.Support" version="2.21.0" />
  <package id="Selenium.WebDriver" version="2.21.0" />
  <package id="ServiceProviderExtensions" version="1.0" targetFramework="net40" />
  <package id="ServiceProviderLocator" version="1.0" targetFramework="net40" />
  <package id="Should" version="1.1.12.0" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="Unity" version="2.1.505.0" targetFramework="net40" />
</packages>