<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.4001" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="Newtonsoft.Json" version="4.0.6" />
  <package id="Selenium.Support" version="2.20.0" />
  <package id="Selenium.WebDriver" version="2.20.0" />
  <package id="Should" version="1.1.12.0" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
</packages>