#Ignore thumbnails created by windows
Thumbs.db

#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#Ignore email files delivered to specified pickup directory
*.eml

#Ignore protected transforms
#web.PublishToPreview.config

#Ignore WebDeploy publish profile
UCosmic.Www.Mvc.Publish.xml

#Ignore packages directory
Packages/

#Allow NuGet.exe
!NuGet.exe

#Ignore Azure build csdef & Pubxml files
ServiceDefinition.build.csdef
*.azurePubxml
UCosmic.Www.Mvc.Publish.xml

#Allow R# .DotSettings
!*.csproj.DotSettings

#Allow chromedriver.exe
!chromedriver.exe

#Allow IEDriverServer.exe
!IEDriverServer.exe

#Ignore private folder
/Private/
