<div class="wrap-960">
    <p>
        An unexpected error occurred while trying to complete the sign up process.
    </p>
    <p>
        To protect your account, you must <a href="@Url.Action(MVC.Identity.OldSignUp.SendEmail())">
            click here to begin the sign up process again</a>.
    </p>
    <p>
        Please be sure to create your password within 2 hours.
    </p>
</div>
