@using UCosmic.Www.Mvc.Areas.Identity.Models.SignUp
@model OldCreateDeniedPage
@{
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960">
    @switch (Model.Reason)
    {


        case OldCreateDeniedPage.DeniedBecause.ConfirmationDoesNotExist:
        case OldCreateDeniedPage.DeniedBecause.ConfirmationIsExpired:
            ViewBag.Title = "Your password setup window has expired";
        <p>
            For security purposes, you must set up your password within two (2) hours after
            receiving your confirmation email.
        </p>
        <p>
            Please <a href="@Url.Action(MVC.Identity.OldSignUp.SendEmail())">sign up again</a>,
            confirm your email address, and create your password within the 2 hour window.
        </p>
        <p>
            You will then be able to sign in.
        </p>
                       break;



        case OldCreateDeniedPage.DeniedBecause.UserIsSignedUp:
        case OldCreateDeniedPage.DeniedBecause.MemberIsSignedUp:
                       ViewBag.Title = "Your password has already been created";
        <p>
            You have already set up your password.
        </p>
        <p>
            Please <a href="@Url.Action(MVC.Identity.OldSignIn.SignIn())">sign in</a>, or <a href="@Url.Action(MVC.Passwords.ForgotPassword.Get())">
                click here if you forgot your password</a>.
        </p>
                                                                                           break;



    }
</div>
