@using UCosmic.Www.Mvc.Areas.Identity.Models.SignUp
@model OldCreatePasswordForm
@{
    ViewBag.Title = "Create your password";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Create Password</legend>
                <p>
                    To create your password, enter the same password in both text boxes below and click
                    the <strong>Create Password</strong> button.
                </p>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Passwords may contain any combination of uppercase and lowercase letters, numbers,
            and special characters. The only restriction is that passwords must contain <strong>
                at least 6 characters</strong>.
        </p>
        <p>
            If you want to create a strong password, use a combination of uppercase and lowercase
            letters, numbers, and special characters.
        </p>
        <p>
            After you create your password, you will automatically be signed into UCosmic.com.
        </p>
        <p>
            If you ever forget your password, you can use your email address to reset it.
        </p>
    </div>
</div>
