@model HandleErrorInfo
@{
    ViewBag.Title = "An unexpected error has occurred.";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960">
    <p>
        Please be patient while we debug UCosmic.com.
    </p>
    <p>
        Every error is logged, and a notification email is sent immediately. Someone may
        be reading about this one right now.
    </p>
    <p>
        If you were signed in when this error occurred, we may contact you with questions
        or further information.
    </p>
</div>
