<div class="feedback-position" data-ucosmic-feedback="true">
    <div class="feedback-box">
        <span id="feedback_flash" data-ucosmic-feedback="message">@TempData.FeedbackMessage()</span> <a href="#"
            data-ucosmic-feedback="close">Dismiss</a>
    </div>
</div>
