@*@model UCosmic.Www.Mvc.Areas.Languages.Models.LanguageFinder
@{
    ViewBag.Title = "Languages";
}
<div id="pjax">
    <div id="languages" class="wrap-960">
        <div>
            <input type="search" name="keyword" placeholder="Search for a language..." autofocus="autofocus" value="@Model.Keyword"
               style="font-size:15px;padding: 5px; width:250px;" />
        </div>
        <div data-search-url="@Url.Action(MVC.Languages.Languages.GetTable())" data-search-keyword="@Model.Keyword">
            @Html.Action(MVC.Languages.Languages.GetTable(Model.Keyword))
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

    //$(function () {
        //    function updateTable() {
        //        var keyword = $('input[name=keyword]').val();
        //        var lastKeyword = $('[data-search-keyword]').data('search-keyword');
        //        if (keyword !== lastKeyword) {
        //            var container = $('[data-search-url]');
        //            var url = container.data('search-url');
        //            $.ajax({
        //                url: url,
        //                data: {
        //                    keyword: keyword
        //                },
        //                success: function (html) {
        //                    container.html(html);
        //                    container.data('search-keyword', keyword);
        //                }
        //            });
        //        }
        //    }
        //
        //    updateTable();
        //    $('input[name=keyword]').on('keyup change search', function () {
        //        updateTable();
        //    });
        //    $(document).on('ready', function () {
        //        updateTable();
        //    });
        //});
    </script>

}
*@