@using UCosmic.Www.Mvc.Areas.Identity.Models.Password
@model ForgotPasswordForm
@{
    ViewBag.Title = "I forgot my password";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Begin Password Reset</legend>
                <p>
                    To reset your password, begin by entering your email address in the text box below.
                </p>
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Although a forgotten password cannot be retrieved, it can be reset.
        </p>
        <p>
            To reset your password, enter your email address into the field provided and then
            click the <b>Send Confirmation Email</b> button.
        </p>
        <p>
            An email will then be sent to your address with instructions regarding how to reset
            your password.
        </p>
        <p>
            If you do not reset your password within 2 hours, you will have to return to this
            page and begin the process again.
        </p>
    </div>
</div>
