@*@{
    ViewBag.Title = "Setup your UCosmic password";
}
<h2>
    Password creation window expired
</h2>
<p>
    For security purposes, you can only create your password immediately after confirming
    your email address.
</p>
<p>
    To create your password, click the URL in the email confirmation message that was
    sent to you.
</p>
<p>
    If you deleted the message, please <a href="@Url.Action(MVC.Identity.SignUp.SendEmail())">
        sign up again</a> to generate a new confirmation email.
</p>
*@