@{
    var viewBag = (dynamic)ViewData["ViewBag"];
    viewBag.Title = "Corporate Engagement Feature Requirements";
}
<p>
    Planned June - October 2013
</p>
<p>
    The Corporate Engagement features will be based on the University of Cincinnati
    Faculty Activity prototype, and are planned for incremental releases between June
    and October 2013.
</p>
<div id="feature_a_1" class="user-story-card">
    <h3 class="title">
        Identify corporate relationships and contacts
    </h3>
    <p class="body">
        <strong>In order to</strong> manage corporate relationships at my institution,
        <br />
        <strong>As a</strong> corporate relationship manager,
        <br />
        <strong>I want to</strong> identify corporations and contacts with whom my institution
        has relationships.
    </p>
</div>
<div id="feature_a_1" class="user-story-card">
    <h3 class="title">
        Identify corporate international operations
    </h3>
    <p class="body">
        <strong>In order to</strong> manage corporate relationships at my institution,
        <br />
        <strong>As a</strong> corporate relationship manager,
        <br />
        <strong>I want to</strong> identify where my institution's corporate partners' have
        operations around the world.
    </p>
</div>
<hr />
