<p class="nt">
    Deployed 12/24/2011
</p>
<p>
    What can I do in December 2011 Preview 2 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        See my institutional agreements plotted on a Google Map
    </h3>
    <p>
        <strong>In order to</strong> visualize my organization's global academic engagement,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> see my institutional agreement partners plotted on a
        map.
    </p>
    <p>
        It was a lot of work, but we've finally implemented the mapping feature for the
        institutional agreements module. Below is a screenshot of what UC's map looks like:
    </p>
    <img src="@Links.content.images.map_screenshot_2011_12_b_gif" alt="google map screenshot"/>
    <p>
        Please <a href="@Url.Action(MVC.InstitutionalAgreements.ManagementForms.Browse())">check
            it out</a>, then <a href="https://ucosmic.uservoice.com/forums/133860-ucosmic-futures/suggestions/2244572-i-want-to-be-able-to-have-an-interactive-global-ma"
                target="_blank">provide your feedback</a>.
    </p>
    <hr />
</section>
<section id="feature2">
    <h3>
        Help UCosmic locate partner organizations
    </h3>
    <p>
        <strong>In order to</strong> see my institutional agreement partners plotted on
        a map,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> help UCosmic locate my partners.
    </p>
    <p>
        There is a chance your institutional agreement map may contain a message indicating
        one or more of your partners could not be located. If this is the case, you will
        see hyperlinks you can click to help UCosmic locate the partner. We've taken great
        care to make sure we've located partners which you have already been added to UCosmic.
        However if you add a new agreement and see this message, please follow the link
        to tell us where you believe your partner is located.
    </p>
    <hr />
</section>
<section id="feature3">
    <h3>
        Find more partner institutions when adding institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> catalog who my institutional agreement partners are,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> associate my partner institutions with my institutional
        agreements.
    </p>
    <p>
        The second weekly institution import has also been completed. UCosmic now contains
        approximately 500 institutions.
    </p>
    <hr />
</section>
