@{
    var viewBag = (dynamic)ViewData["ViewBag"];
    viewBag.Title = "Faculty & Staff Feature Requirements";
}
<p>
    There are 3 components to the Faculty &amp; Staff module:
</p>
<ol class="p">
    <li><strong>Faculty Activity</strong>: Planned March - June 2012</li>
    <li><strong>Faculty Pedigree</strong>: Tentatively planned December 2013 - March 2014</li>
    <li><strong>Faculty-Led Study Abroad Programs</strong>: Tentatively planned March -
        June 2014</li>
</ol>
<hr />
<h2>
    Faculty Activity
</h2>
<p>
    The Faculty Activity features will be based on the <a href="http://www.uc.edu/webapps/ucosmic/faculty_research/default.aspx"
        target="_blank">University of Cincinnati Faculty Activity prototype</a>, and
    are planned for incremental releases between March and June 2012.
</p>
<div id="feature_a_1" class="user-story-card">
    <h3 class="title">
        Sign in without creating a separate UCosmic user account
    </h3>
    <p class="body">
        <strong>In order to</strong> avoid setting up a separate UCosmic user account and
        forgetting my UCosmic password,
        <br />
        <strong>As an</strong> employee of an academic institution,
        <br />
        <strong>I want to</strong> sign into UCosmic using my institutional username and
        password.
    </p>
</div>
<div id="feature_a_2" class="user-story-card">
    <h3>
        Share my international activity with others
    </h3>
    <p>
        <strong>In order to</strong> promote my international expertise and accomplishments,
        <br />
        <strong>As an</strong> employee of an academic institution,
        <br />
        <strong>I want to</strong> share information about my international activity.
    </p>
</div>
<div id="feature_a_3" class="user-story-card">
    <h3>
        Search Faculty &amp; Staff international activity
    </h3>
    <p>
        <strong>In order to</strong> plan an international strategy,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> connect with employees who have specialized international
        knowledge, relationships, and accomplishments.
    </p>
</div>
<hr />
<h2>
    Faculty Pedigree (aka Faculty Degrees Earned Abroad)
</h2>
<p>
    The Faculty Pedigree features will be based on the <a href="http://www.uc.edu/webapps/ucosmic/faculty_profile/degrees.aspx"
        target="_blank">University of Cincinnati Faculty Pedigree prototype</a>, and
    are tentatively planned for incremental releases between December 2013 and March
    2014. There is also a data corollary between this and <a href="@Url.Action(MVC.Common.Features.Requirements("alumni"))">
        the Alumni module </a>.
</p>
<div id="feature_b_1" class="user-story-card">
    <h3>
        Share my international pedigree with others
    </h3>
    <p>
        <strong>In order to</strong> promote my international expertise and accomplishments,
        <br />
        <strong>As an</strong> employee of an academic institution,
        <br />
        <strong>I want to</strong> share information about my degrees earned abroad.
    </p>
</div>
<div id="feature_b_2" class="user-story-card">
    <h3>
        Search Faculty &amp; Staff international pedigree
    </h3>
    <p>
        <strong>In order to</strong> plan an international strategy,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> connect with employees who have earned academic degrees
        outside of our home country.
    </p>
</div>
<div id="feature_b_3" class="user-story-card">
    <h3>
        Enter pedigree information on a Faculty or Staff member's behalf
    </h3>
    <p>
        <strong>In order to</strong> help employees start managing their pedigree information,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> enter degrees earned abroad on behalf of a faculty or
        staff member.
    </p>
</div>
<hr />
<h2>
    Faculty-Led Education Abroad Programs
</h2>
<p>
    The Faculty-Led Education Abroad Programs features will be based on the <a href="http://www.uc.edu/webapps/ucosmic/programs/search.aspx"
        target="_blank">University of Cincinnati Faculty-led Education Abroad Programs prototype</a>,
    and are tentatively planned for incremental releases between March and June 2014.
</p>
<div id="feature_c_1" class="user-story-card">
    <h3>
        Create &amp; manage faculty-led education abroad program profiles
    </h3>
    <p>
        <strong>In order to</strong> share information about education abroad programs I
        lead,
        <br />
        <strong>As an</strong> institutional faculty member,
        <br />
        <strong>I want to</strong> create an education abroad program profile.
    </p>
</div>
<div id="feature_c_2" class="user-story-card">
    <h3>
        Approve / Deny faculty-led education abroad program profiles
    </h3>
    <p>
        <strong>In order to</strong> make sure faculty-led education abroad programs adhere
        to institutional policies,
        <br />
        <strong>As an</strong> education abroad programs office,
        <br />
        <strong>I want to</strong> approve or deny program profiles submitted by my institution's
        faculty.
    </p>
</div>
<div id="feature_c_3" class="user-story-card">
    <h3>
        Search Faculty-led Education Abroad Programs
    </h3>
    <p>
        <strong>In order to</strong> find education abroad programs I may be interested
        in,
        <br />
        <strong>As a</strong> student (or any anonymous person browsing the web),
        <br />
        <strong>I want to</strong> search for faculty-led education abroad programs.
    </p>
</div>
<hr />
