<section id="feature1">
    <p>
        Welcome to the UCosmic preview site. On this site, you will find the <a href="@Url.Action(MVC.InstitutionalAgreements.PublicSearch.Index("my"))" class="@ViewBag.InstitutionalAgreementsTopTabCssClass">Agreements Module</a> of the UCosmic system. Visitors will be able to view all agreements associated with their UCosmic Consortium institution. When you click on Agreements tab, you will find a map display highlighting the locations where your institution has agreements.
    </p>
    <p>
        If you click on the red map marker, you will be directed to the website of the partner institution. On the left, you will find a list of all the partner institutions, the type of agreement this institution has with your home institution and the starting date of the agreement. Click on the partner institution hyperlink to find out more information about the agreement.
    </p>
    <p>
        The UCosmic system is currently in transition. The UCosmic team is in the process of migrating all of the features in the preview site to a new software codebase that is currently deployed to our Alpha site. When this transition is complete, the alpha site will cease to exist and all of its features will appear here at the preview site.</p>
    <hr />
</section>
