<p class="nt">
    Deployed 02/24/2012
</p>
<p>
    What can I do in February 2012 Preview 2 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        Search Institutional Agreements
    </h3>
    <p>
        <strong>In order to</strong> quickly find specific institutional agreements,
        <br />
        <strong>As an</strong> anonymous person browsing the web,
        <br />
        <strong>I want to</strong> search institutional agreements by place, partner institution,
        or contact name.
    </p>
    <p>
        The Search text box and button at the top of the public institutional agreements
        page has been activated. When you begin typing into the text box, UCosmic will try
        to guess what institution, person, or place (country, continent, city, etc) you
        are searching for, and present you with a list of possible search matches.
    </p>
    <p>
        You cannot search for agreements by zooming and panning the map. Hopefully someone
        will <a href="http://ucosmic.uservoice.com/forums/133860-institutional-agreements"
            target="blank">request this feature</a>, because I personally think it would
        be really cool!
    </p>
    <hr />
</section>
<section id="feature2">
    <h3>
        Read high-level module requirements &amp; planned dates
    </h3>
    <p>
        <strong>In order to</strong> understand what is planned for future UCosmic development,
        <br />
        <strong>As a</strong> consortium stakeholder,
        <br />
        <strong>I want to</strong> read high-level requirements and planned development
        dates for UCosmic modules.
    </p>
    <p>
        The UCosmic module tabs at the top of each page have also been activated. Stay tuned
        to these; as we flesh out more and more detailed requirements, they will be published
        here and at the corresponding feedback &amp; support forums. For more information
        on how to read, understand, and contribute to feature requirements, <a href="@Url.Action(MVC.Common.Features.Requirements())">
            visit this page</a>.
    </p>
    <hr />
</section>
<section id="feature3">
    <h3>
        Find more partner institutions when adding institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> catalog who my institutional agreement partners are,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> associate my partner institutions with my institutional
        agreements.
    </p>
    <p>
        The UCosmic database now contains over 2400 institutions.
    </p>
    <hr />
</section>
