@{
    var viewBag = (dynamic)ViewData["ViewBag"];
    viewBag.Title = "Global Press Feature Requirements";
}
<p>
    Planned October - December 2013
</p>
<p>
    The Global Press features will be based on the <a href="https://www.uc.edu/webapps/ucosmic/news/default.aspx"
        target="_blank">University of Cincinnati Global Press prototype</a>, and are
    planned for incremental releases between October and December 2013.
</p>
<div id="feature_a_1" class="user-story-card">
    <h3 class="title">
        Add news articles related to my institution
    </h3>
    <p class="body">
        <strong>In order to</strong> promote my institution's accolades in the international
        press,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> add or link to published articles related to my institution.
    </p>
</div>
<div id="feature_a_2" class="user-story-card">
    <h3 class="title">
        Search &amp; view news articles related to an institution
    </h3>
    <p class="body">
        <strong>In order to</strong> read international articles about an institution of
        interest,
        <br />
        <strong>As an</strong> anonymous person browsing the web,
        <br />
        <strong>I want to</strong> search for, link to, and read articles published in the
        international press.
    </p>
</div>
<div id="feature_a_3" class="user-story-card">
    <h3 class="title">
        Import &amp; cherry pick news articles from an RSS feed
    </h3>
    <p class="body">
        <strong>In order to</strong> more quickly discover and add global press articles,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> cherry pick articles from one or more RSS feeds to be
        imported into my global press module.
    </p>
</div>
<hr />
