<p class="nt">
    Deployed 07/13/2012
</p>
<p>
    What can I do in July 2012 Preview 1 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        Control overall visibility of certain agreements
    </h3>
    <p>
        <strong>In order to</strong> control the overall visibility of certain agreements,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> prohibit either my employees and students or the general
        public from being able to find certain agreements when they search.
    </p>
    <p>
        This is a not a module release, but rather it is a patch to the previously-released
        institutional agreements module. By default, UCosmic allows anonymous users to view
        any of the &quot;public&quot; fields for any agreement you add to the system. Before
        today it was not possible to hide the public fields of, or even the mere existence
        of, certain highly sensitive agreements. Also, if you added any older &quot;historical&quot;
        agreements with non-active status, there was no way to hide them from the general
        public or from your employees and students. To solve this problem, a new set of
        radio buttons has been added to the institutional agreement form:
    </p>
    <p>
    </p>
    <img src="@Url.Content(Links.content.images.agreements_visibility_900_png)" alt="institutional agreement form visibility screenshot" />
    <p>
        By default, all agreements you previously added were given the <strong>Public</strong>
        visibility setting. If you change the setting to <strong>Protected</strong>, only
        your employees and students will be able to find the agreement in search results.
        If you change the setting to <strong>Private</strong>, only you and other designated
        UCosmic administrators will be able to find it in agreement search results.
    </p>
    <hr />
</section>
