<p class="nt">
    Deployed 06/08/2012
</p>
<p>
    What can I do in June 2012 Preview 1 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        Sign on without creating a UCosmic user account
    </h3>
    <p>
        <strong>In order to</strong> avoid setting up a separate UCosmic user account and
        forgetting my UCosmic password,
        <br />
        <strong>As an</strong> employee of an academic institution,
        <br />
        <strong>I want to</strong> sign onto UCosmic using my institutional username and
        password.
    </p>
    <p>
        Single Sign On is here! The UCosmic identity system has been overhauled, and is
        now <a href="@Url.Action(MVC.Identity.ListIdentityProviders.Get())">integrated with
            the University of Cincinnati and University of South Florida identity providers</a>.
        If your institution uses Shibboleth or another SAML2-compliant identity provider,
        we can set you up with SSO as well. Until you are integrated with the UCosmic SSO
        features, your users will continue to use the older method of creating new accounts.
    </p>
    <p>
        If your institution participates in the <a href="http://www.incommonfederation.org/">
            InCommon Federation</a>, we are currently working with UC to try and stream
        UCosmic's SSO metadata through that channel. Until this is set up, we can integrate
        your identity provider manually. Just send a message to Dan Ludwig to get started.
    </p>
    <hr />
</section>
<section id="feature2">
    <h3>
        Share my international activity with others
    </h3>
    <p>
        <strong>In order to</strong> promote my international expertise and accomplishments,
        <br />
        <strong>As an</strong> employee of an academic institution,
        <br />
        <strong>I want to</strong> share information about my international activity.
    </p>
    <p>
        The first stage of the faculty activity module is also available in this preview
        release. Anyone who signs into UCosmic can now share information about their international
        activities. There is a section on each user's personal profile page displaying links
        to their 5 most recently edited activities, along with links to view the rest and
        create more.
    </p>
    <p>
        Unlike the faculty activity module in the UCosmic prototype, this feature is available
        to anyone who signs into UCosmic from your institution - including faculty, staff
        and other employees, even students. It works more like a blog engine, with the ability
        to &quot;tag&quot; activities with countries, partner institutions, and other keywords.
        The advanced content area also allows users to provide hyperlinks within their activity
        descriptions, create bold, italicized, and underlined text, and much more.
    </p>
    <p>
        We hope to deploy the second stage of this module, which includes the ability to
        search activities, by the middle to end of next week.
    </p>
    <hr />
</section>
