<p class="nt">
    Deployed 06/21/2012
</p>
<p>
    What can I do in June 2012 Preview 2 that I couldn't do before?
</p>
<hr />
<section id="feature1">
    <h3>
        Search Faculty & Staff international activity
    </h3>
    <p>
        <strong>In order to</strong> plan an international strategy,
        <br />
        <strong>As an</strong> international office,
        <br />
        <strong>I want to</strong> connect with employees who have specialized international
        knowledge, relationships, and accomplishments.
    </p>
    <p>
        The first rollout of the faculty activity module is now complete. UCosmic members
        can now search faculty activity by keyword, similar to the agreement search feature.
        Unlike the agreements module, the primary search screen does not display a map,
        but rather a list of activity titles. The choice to forgo a map for the first rollout
        of the search feature was made because not all activities need to be associated
        geographically with a country, city, or institution. Some activities may be &quot;Global&quot;
        in nature, making them difficult to pin to a specific location. Agreement detail
        pages, however, do display maps with pins where the activity is associated geographically.
    </p>
    <img src="@Url.Content(Links.content.images.facac_modal_1_png)" alt="faculty activity example screenshot" />
    <p>
        We would like to begin assimilating feedback on these new features as soon as possible.
        If you are able, please round up a pilot group of three to five faculty members
        at your institution who have international activity to share. Ask each of them to post two
        or three activities, and report their feedback using the Feedback & Support link at the
        bottom of any page on this site.
    </p>
    <hr />
</section>
