<p class="nt">
    Deployed 9/8/2011
</p>
<p>
    What can I do in Preview 3 that I couldn't do in Preview 2?
</p>
<hr />
<section id="feature1">
    <h3>
        Upload &amp; attach more types of files to institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> have a complete repository for all of my institutional
        agreements,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> upload &amp; attach files to my institutional agreement
        records in UCosmic.
    </p>
    <p>
        This feature was <a href="@Url.Action(MVC.Common.Features.Releases("preview-2"))">
            deployed in UCosmic Preview 2</a>, and stakeholder feedback indicated that PDF
        and MS Word files were not enough. In Preview 3, this feature has been extended.
        Files must still be smaller than 25MB in size, but you can now upload &amp; attach
        the following additional file types:
    </p>
    <ul>
        <li>OpenDocument Word Processing &amp; Spreadsheets (.odt &amp; .ods files)</li>
        <li>Microsoft Excel Worksheets (.xls &amp; .xlsx files)</li>
        <li>Microsoft PowerPoint Presentations (.ppt &amp; .pptx files)</li>
        <li>You can still upload PDF &amp; Microsoft Word documents (.pdf, .doc, &amp; .docx
            files)</li>
    </ul>
    <hr />
</section>
<section id="feature2">
    <h3>
        Add principals, secondaries, and other contacts to institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> know who is responsible for my institutional agreements,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> add contacts to my institutional agreement records in
        UCosmic.
    </p>
    <p>
        In UC's UCosmic prototype, up to four contacts could be specified for an activity
        agreement. The purpose of these data points was to indicate who was responsible
        for issues and concerns pertaining to the agreement:
    </p>
    <ul>
        <li>UC Principal (required)</li>
        <li>Foreign Principal (required)</li>
        <li>UC Secondary (optional)</li>
        <li>Foreign Secondary (optional)</li>
    </ul>
    <p>
        For the UCosmic Consortium project, we have expanded upon this feature to make it
        more flexible:
    </p>
    <ol class="br">
        <li>Contacts are not limited just to activity agreements. You can add a contact to any
            agreement of any type.</li>
        <li>You are not restricted to the above four contact types (Local &amp; Foreign Principal
            &amp; Secondary). You can add additional contact types at your discretion, such
            as a Coordinator or Supervisor.</li>
        <li>Principal contacts are not required. In fact, all agreement contacts are optional.
            This will allow you to create an initial draft of an agreement in UCosmic, adding
            the contacts later as they become known.</li>
    </ol>
    <h4>
        What are the limitations of this feature?</h4>
    <p>
        Currently, you cannot edit a contact that has already been added, or arrange the
        order in which current agreement contacts appear on the data entry form. You can
        however remove contacts and re-add them to fix some data entry errors and arrange
        the order in which they appear.
    </p>
    <p>
        You also cannot edit a contact's name or email address once they have been entered.
        For now, this is by design. It is possible that a contact you add to an agreement
        later becomes a UCosmic user, and will have control over his or her own name and
        email address. When this happens, only that user should have control over his or
        her own information.
    </p>
    <p>
        If you would like to see additional features that overcome these current limitations,
        please click the Feedback &amp; Support button on this page to tell us.
    </p>
    <hr />
</section>
<section id="feature3">
    <h3>
        Change your password
    </h3>
    <p>
        <strong>In order to</strong> protect my sensitive information in UCosmic from unauthorized
        access,
        <br />
        <strong>As a</strong> user with a compromised password,
        <br />
        <strong>I want to</strong> change my password.
    </p>
    <p>
        This is a common feature of most web applications that maintain their own sign in
        data. If you ever feel that you UCosmic password may have been compromised, or just
        don't like the password you initially chose, you can sign in and change it at any
        time.
    </p>
    <p>
        UCosmic had 2 new developers start in August and September 2011. This and the next
        feature were exercises for them to become familiar with the current UCosmic project
        codebase and our development patterns &amp; practices.
    </p>
    <hr />
</section>
<section id="feature4">
    <h3>
        Change the spelling of your email address
    </h3>
    <p>
        <strong>In order to</strong> correct my email address so that it is properly capitalized,
        <br />
        <strong>As a</strong> user with an incorrectly capitalized email address,
        <br />
        <strong>I want to</strong> change the spelling of my email address.
    </p>
    <p>
        Email addresses are <em>case-insensitive</em>, meaning that capitalization of letters
        <em>does not</em> matter. The email address Dan.Ludwig@Somewhere.org is the same
        as dan.ludwig@somewhere.ORG. The capitalization of your email address does not matter
        when you sign into UCosmic (though your password is <em>case-sensitive</em>, meaning
        capital and lowercase letters <em>do</em> matter).
    </p>
    <p>
        However, some email addresses contain people's full names, and some people like
        their names to be properly capitalized in their email address. If you signed up
        for a UCosmic user account, and would later like to change your email address to
        properly capitalize it, you can now do so. You cannot change your email address,
        but you can change which letters are capitalized or lowercase.
    </p>
    <hr />
</section>
