<p class="nt">
    Deployed 6/14/2011
</p>
<p>
    There is also <a href="http://www.ucosmic.org/Blog/June_13_2011_Screencast.aspx"
        target="_blank">a screen cast overview of this deployment</a>.
</p>
<hr />
<section id="feature1">
    <h3>
        Sign up for a UCosmic user account
    </h3>
    <p>
        <strong>In order to</strong> sign into UCosmic,
        <br />
        <strong>As a</strong> consortium member and stakeholder,
        <br />
        <strong>I want to</strong> sign up for a user account using my email address.
    </p>
    <p>
        As long as the part of your email address after the @@ symbol corresponds to a consortium
        membership, you are eligible to sign up for a user account. A confirmation message
        will be sent to your email address with instructions on how to confirm ownership
        and create a password.
    </p>
    <hr />
</section>
<section id="feature2">
    <h3>
        Sign in to UCosmic
    </h3>
    <p>
        <strong>In order to</strong> access my protected and personalized features,
        <br />
        <strong>As a</strong> signed-up user,
        <br />
        <strong>I want to</strong> sign in to UCosmic.com.
    </p>
    <p>
        After signing up for a user account, you can sign in any time using your email address
        and password.
    </p>
    <hr />
</section>
<section id="feature3">
    <h3>
        Sign out of UCosmic
    </h3>
    <p>
        <strong>In order to</strong> prevent others from accessing my protected and personalized
        features on a computer I have used to sign in,
        <br />
        <strong>As a</strong> signed-up user,
        <br />
        <strong>I want to</strong> sign out of UCosmic.com.
    </p>
    <p>
        If you ever walk away from your computer, or sign into UCosmic from a public computer
        (at a hotel for example), UCosmic will not automatically sign you out for quite
        a long time. To protect others from abusing your account, please sign out of UCosmic
        at the end of your session.
    </p>
    <p>
        <strong>Note:</strong> Closing <em>all</em> open browser windows will also automatically
        sign you out of UCosmic.
    </p>
    <hr />
</section>
<section id="feature4">
    <h3>
        Manage my personal profile
    </h3>
    <p>
        <strong>In order to</strong> prevent others from accessing my protected and personalized
        features on a computer I have used to sign in,
        <br />
        <strong>As a</strong> signed-up user,
        <br />
        <strong>I want to</strong> sign out of UCosmic.com.
    </p>
    <p>
        Like many web applications, UCosmic would like to know more about you. Your personal
        profile page allows you to customize how your name will appear throughout the system,
        as well as your &quot;affiliation&quot; with your organization.
    </p>
    <hr />
</section>
<section id="feature5">
    <h3>
        Manage my institutional agreement data
    </h3>
    <p>
        <strong>In order to</strong> have a central repository for all of my institutional
        agreements,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> add, view, and edit institutional agreement records in
        UCosmic.
    </p>
    <p>
        This is the first, basic version of UCosmic's Institutional Agreements module, based
        on UC's original UCosmic system, and the Spring 2011 stakeholder meetings. For a
        deeper dive into the features deployed with UCosmic Preview 1, please <a href="http://www.ucosmic.org/Blog/June_13_2011_Screencast.aspx"
            target="_blank">watch the screen cast</a>.
    </p>
    <hr />
</section>
