<p class="nt">
    Deployed 7/14/2011
</p>
<p>
    What can I do in Preview 2 that I couldn't do in Preview 1?
</p>
<hr />
<section id="feature1">
    <h3>
        Upload &amp; attach PDF or MS Word files to institutional agreements
    </h3>
    <p>
        <strong>In order to</strong> have a complete repository for all of my institutional
        agreements,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> upload &amp; attach files to my institutional agreement
        records in UCosmic.
    </p>
    <p>
        You can now upload and attach files when creating and editing institutional agreements
        in UCosmic. The only restrictions are that the files:
    </p>
    <ul>
        <li>Must end in a .pdf, .doc, or .docx extension, and</li>
        <li>Are less than 25 MB (megabytes) each.</li>
    </ul>
    <p>
        Uploaded file attachments have <em>protected visibility</em>, meaning that they
        can only be viewed when you are signed in. They are hidden from users outside of
        your organization, as well as unauthorized users within your organization.
    </p>
    <hr />
</section>
<section id="feature2">
    <h3>
        Control institutional agreement hierarchies
    </h3>
    <p>
        <strong>In order to</strong> group sets of my institutional agreements together,
        <br />
        <strong>As a</strong> manager of institutional agreement data,
        <br />
        <strong>I want to</strong> indicate whether an institutional agreement falls under
        the umbrella of a superior or parent agreement.
    </p>
    <p>
        Institutional agreements are usually organized into groups, where there is a general
        ICA or MOU that governs more specific activity, exchange, and other agreements.
        In UCosmic, we currently use the terminology that the more superior agreements are
        called &quot;umbrella&quot; agreements, and the more subordinate ones are called
        &quot;child&quot; agreements. This superior / subordinate relationship pattern forms
        a hierarchy for a group of related institutional agreements.
    </p>
    <p>
        When adding or editing institutional agreement data, you now have the option to
        indicate whether it falls the umbrella of superior agreement that you want to group
        it under. By doing this, you are indicating in the data that the agreement being
        created or edited is a child agreement. This kind of data structure will eventually
        enable UCosmic to show you an entire hierarchical group of institutional agreements,
        similar to the view below (taken from UC's UCosmic prototype application):
    </p>
    <p class="nb">
        <strong>Shandong University</strong>
        <br />
        Institutional Collaboration Agreement (since 11/5/2005) <strong><em>&lt;-- This is the
            umbrella agreement</em></strong>
    </p>
    <ul class="nt">
        <li>Activity Agreement for the Advancement of the Master in Urban Planning Program (since
            7/1/2007) <strong><em>&lt;-- This is a child agreement</em></strong></li>
        <li>Establishment of Joint Center for Urban Research and Co-located Offices (since 10/1/2006)
            <strong><em>&lt;-- This is a child agreement</em></strong></li>
    </ul>
    <hr />
</section>
