@using UCosmic.Www.Mvc.Models
@{
    var viewBag = (dynamic)ViewData["ViewBag"];
    viewBag.Title = "Representatives Feature Requirements";
}
<p>
    Planning is Tentative
</p>
<p>
    There are 5 components to the Representatives module:
</p>
<ol class="p">
    <li><strong>Application for Agency to Represent Institution</strong></li>
    <li><strong>Signed Contracts between Agencies and Institutions</strong></li>
    <li><strong>Agency Commission Financial Reporting</strong></li>
    <li><strong>Public Search for Authorized Representative Locations</strong></li>
    <li><strong>Tools for Institution to Manage Agency Relationships</strong></li>
</ol>
<hr />
<h2>
    Application for Agency to Represent Institution
</h2>
<p>
    The Application for Agency to Represent Institution features will be based on the
    <a href="http://www.uc.edu/webapps/ucosmic/reps/headquarters/AddHeadQuarters.aspx"
        target="_blank">University of Cincinnati prototype</a>, and are tentatively
    planned.
</p>
<p>
    <em>User Stories to be articulated</em>
</p>
<hr />
<h2>
    Signed Contracts between Agencies and Institutions
</h2>
<p>
    The Signed Contracts between Agencies and Institutions features will be based on
    the University of Cincinnati prototype, and are tentatively planned.
</p>
<p>
    <em>User Stories to be articulated</em>
</p>
<hr />
<h2>
    Agency Commission Financial Reporting
</h2>
<p>
    The Agency Commission Financial Reporting features will be based on the University
    of Cincinnati prototype, and are tentatively planned.
</p>
<p>
    <em>User Stories to be articulated</em>
</p>
<hr />
<h2>
    Public Search for Authorized Representative Locations
</h2>
<p>
    The Public Search for Authorized Representative Locations features will be based
    on the <a href="http://www.uc.edu/webapps/ucosmic/reps/default.aspx" target="_blank">
        University of Cincinnati prototype</a>, and are tentatively planned.
</p>
<p>
    <em>User Stories to be articulated</em>
</p>
<hr />
<h2>
    Tools for Institution to Manage Agency Relationships
</h2>
<p>
    The Tools for Institution to Manage Agency Relationships features have been discussed
    by some consortium members, but have no prototype reference. To suggest features
    that will help your institution manage its recruitment agency relationships, @Html.Partial(MVC.Shared.Views.uservoice_link, new UserVoiceLink(Request, ViewData) { Text = "drop a line in our feedback & support forum" }).
</p>
<p>
    <em>User Stories to be articulated</em>
</p>
<hr />
