@{
    var viewBag = (dynamic)ViewData["ViewBag"];
    viewBag.Title = "Travel Feature Requirements";
}
<p>
    Planned March - June 2013
</p>
<p>
    The University of Cincinnati <a href="@Url.Content(Links.content.docs.travel_module_overview_2007_pdf)" target="_blank">
        investigated creating a travel module in 2007</a>. However the system never
    became reality because there were issues regarding who owned the policies and processes
    necessary for such a system. Ultimately it was determined that UC International
    did not own the policy, and therefore should not control any information system
    that provides tools for the enforcement of the policy. No other system was built,
    and UC travel authorization is still managed with paper as of February 2012.
</p>
<p>
    One of the issues we shed light on in 2007 is now of much greater concern to leadership
    at UC: Deemed export laws in the United States have the potential to impose very
    large fines and imprisonment penalties if violated. UC needs an information system
    to help reduce the risks involved in this area. If you are an academic institution
    whose employees travel abroad, so will you.
</p>
<p>
    <a href="http://www.terradotta.com" target="_blank">Terra Dotta Software</a>, a
    consortium member, has <a href="http://www.terradotta.com/riskinfoSys.html" target="_blank">
        a product called RiskInfoSys</a> which is designed to address these same issues.
    If your employee travel and/or risk management needs are immediate, RiskInfoSys is definitely
    worth consideration.
</p>
<hr />
<h2>
    Travel Authorization
</h2>
<p>
    The Travel Authorization features will be based on the <a href="@Url.Content(Links.content.docs.travel_module_overview_2007_pdf)"
        target="_blank">University of Cincinnati Travel Module Proposal</a>, and are
    tentatively planned for incremental releases between March and June 2013.
</p>
<div id="feature_a_1" class="user-story-card">
    <h3>
        Request Travel Authorization
    </h3>
    <p>
        <strong>In order to</strong> plan employment-related domestic and international
        travel,
        <br />
        <strong>As an</strong> institutional employee,
        <br />
        <strong>I want to</strong> request travel authorization from my supervisor.
    </p>
</div>
<div id="feature_a_2" class="user-story-card">
    <h3>
        Approve or Deny Travel Authorization
    </h3>
    <p>
        <strong>In order to</strong> be aware when and where my employees are traveling,
        <br />
        <strong>As an</strong> employee supervisor,
        <br />
        <strong>I want to</strong> approve or deny travel authorization requests submitted
        by my employees.
    </p>
</div>
<div id="feature_a_3" class="user-story-card">
    <h3>
        Send Travel Advisory Messages
    </h3>
    <p>
        <strong>In order to</strong> reduce risk and ensure my institution's policies are
        adhered to,
        <br />
        <strong>As a</strong> institutional travel strategist,
        <br />
        <strong>I want to</strong> automatically send messages to an employee who has been
        approved for travel.
    </p>
</div>
<div id="feature_a_4" class="user-story-card">
    <h3>
        Send Emergency Alert Messages to Traveling Employees
    </h3>
    <p>
        <strong>In order to</strong> advise and protect my institution's employees during
        an emergency,
        <br />
        <strong>As a</strong> institutional travel strategist,
        <br />
        <strong>I want to</strong> automatically send messages to all employees who have
        traveled to a particular country or city.
    </p>
</div>
<hr />
