@model UCosmic.Www.Mvc.Areas.Passwords.Models.ForgotPasswordForm
@{
    ViewBag.Title = "I forgot my password";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        <p>
            Although a forgotten password cannot be retrieved, it can be reset.
        </p>
        <p>
            When you submit the form to the right, an email will be sent to your address with
            instructions on how to reset your password.
        </p>
        <p>
            Be sure to reset your password within 2 hours, you will have to return to this page
            and generate a new confirmation email.
        </p>
    </div>
    <div class="right">
        @using (Html.BeginForm(
            MVC.Passwords.ForgotPassword.ActionNames.Post,
            MVC.Passwords.ForgotPassword.Name,
            new
            {
                httpMethod = "POST",
            },
            FormMethod.Post
        ))
        {
            <fieldset>
                <legend>Begin Password Reset</legend>
                <p>
                    Enter your email address in the text box below and then click the <strong>Send Confirmation
                        Email</strong> button.
                </p>
                @Html.AntiForgeryToken()
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
</div>
@section Scripts
{

    <script type="text/javascript">
        $.validator.setDefaults({
            onkeyup: false
        });
    </script>

}
