@model UCosmic.Www.Mvc.Areas.Identity.Models.SignOnForm
<div id="sign_on_editor" class="half-form">
    <div class="hidden-input">
        @Html.EditorFor(m => m.ReturnUrl)
    </div>
    @Html.EditorFor(m => m.EmailAddress)
    @Html.EditorFor(m => m.RememberMe)
    <div>
        <input type="submit" value="Next >>" />
        @Html.Partial(MVC.Shared.Views.form_submitted_spinner)
    </div>
</div>
