@model string
@{
    ViewBag.Title = "Languages";
}
<div id="pjax">
    <div id="languages" class="wrap-960">
        <div>
            <input type="search" name="keyword" placeholder="Search for a language..." autofocus="autofocus" value="@Model"
               style="font-size:15px;padding: 5px; width:250px;" />
        </div>
        <div data-search-url="@Url.Action(MVC.Languages.Languages.GetTable())" data-search-keyword="@Model">
            @Html.Action(MVC.Languages.Languages.GetTable(Model))
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('input[name=keyword]').on('keyup change search', function () {
                //var keyword = $(this).val();
                //var container = $('#languages [data-search-url]');
                //var url = container.data('search-url');
                //$.ajax({
                //    url: url,
                //    data: {
                //        keyword: keyword
                //    },
                //    success: function (html) {
                //        container.html(html);
                //        //$('a[data-pjax]').pjax({
                //        //    timeout: 100000
                //        //    //timeout: 1
                //        //});
                //        //$('a[data-pjax]').on('click', function (arg1, arg2, arg3, arg4, arg5) {
                //        //    alert('click');
                //        //});
                //    }
                //});
                updateTable();
            });

            function updateTable() {
                var keyword = $('input[name=keyword]').val();
                var lastKeyword = $('[data-search-keyword]').data('search-keyword');
                if (keyword !== lastKeyword) {
                    var container = $('[data-search-url]');
                    var url = container.data('search-url');
                    $.ajax({
                        url: url,
                        data: {
                            keyword: keyword
                        },
                        success: function (html) {
                            container.html(html);
                            container.data('search-keyword', keyword);
                        }
                    });
                }
            }

            updateTable();

            // when successfully loading new content:
            // 1.) beforeSend
            // 2.) start
            // 3.) success
            // 4.) complete
            // 5.) end
            // when clicking forward or back buttons:
            // 1.) start
            // 2.) end
            // when request times out:
            // 1.) beforeSend
            // 2.) start
            // 3.) timeout
            // 4.) error
            // 5.) complete
            // 6.) end
            //var bodyScroll = new Array();
            //$('a[data-pjax]').pjax({
            //    timeout: 100000
            //    //timeout: 1
            //});
            //$('a[data-pjax]').on('click', function (arg1, arg2, arg3, arg4, arg5) {
            //    alert('click');
            //});
            //$(window).on('popstate', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('popstate');
            //});
            ////$(window).on('pushstate', function (arg1, arg2, arg3, arg4, arg5) {
            ////    alert('pushstate');
            ////});
            ////alert('Support? ' + $.support.pjax);
            //$('#pjax').on('pjax:beforeSend', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax beforeSend');
            //    bodyScroll[arg1.target.baseURI] = $('.center.col .stretch').scrollTop();
            //    $('.wrap-960').fadeOut();
            //});
            //$('#pjax').on('pjax:start', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax start');
            //    $('.wrap-960').fadeOut();
            //});
            //$('#pjax').on('pjax:success', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax success');
            //    $('.wrap-960').hide();
            //});
            //$('#pjax').on('pjax:complete', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax complete');
            //});
            //$('#pjax').on('pjax:timeout', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax timeout: ' + arg1);
            //});
            //$('#pjax').on('pjax:error', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax error: ' + arg1);
            //});
            //$('#pjax').on('pjax:end', function (arg1, arg2, arg3, arg4, arg5) {
            //    //alert('pjax end');
            //    var scrollTo = bodyScroll[arg1.target.baseURI];
            //    if (scrollTo > 0) {
            //        $('.center.col .stretch').scrollTop(scrollTo);
            //    }
            //    $('.wrap-960').fadeIn();
            //});
        });
    </script>

}
