<strong style="color: #c00;">Location is unknown</strong>
<p>
    To set this institution's location:
</p>
<ol class="p">
    <li>Use the + and - buttons or double-click on the map to zoom in and find the institution.<br />
        <br />
    </li>
    <li>Click the
        <img src="@Links.content.icons.maps.drop_marker_norm_31_png" alt="add placemark"
			title="Add a placemark" />
        icon to add a placemark.<br />
        <br />
    </li>
    <li>Drag & drop the placemark to the appropriate location on the map.
        <br />
        <br />
    </li>
    <li>If prompted, choose an appropriate city name.</li>
</ol>
<p>
    To remove a placemark, click the
    <img src="@Links.content.icons.maps.drop_marker_hot_31_png" alt="remove placemark"
		title="Remove placemark" />
    icon.
</p>
