@using UCosmic.Www.Mvc.Areas.Identity.Models.Deprecated
@model ConfirmEmailForgotPasswordForm
@{
    ViewBag.Title = "Confirm your email address";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(
                MVC.Identity.EmailConfirmation.ActionNames.ConfirmForPasswordReset,
                MVC.Identity.EmailConfirmation.Name,
                new
                {
                    area = MVC.Identity.Name,
                    httpMethod = "POST"
                }
            ))
        {
            <fieldset>
                <legend>Enter Confirmation Code</legend>
                <p>
                    When you receive your confirmation email, it will have a code in it.
                </p>
                <p>
                    Copy and paste that code into the text box below to verify ownership.
                </p>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <h2>
            ...or confirm with URL</h2>
        <p>
            When you receive your confirmation email, it will also have a URL in it.
        </p>
        <p>
            You can click that URL or copy and paste it into your browser to verify ownership.
        </p>
        <p>
            If you have already used the URL to confirm ownership and set up a password, you
            can safely close this page.
        </p>
    </div>
</div>
