@model UCosmic.Www.Mvc.Areas.Languages.Models.NameItem
@{
    var hilite = (Model.IsUserTranslation || Model.IsNativeTranslation)
        ? "hilite" : null;
}
<tr class="@hilite">
    <td>
        @Html.DisplayFor(m => m.TranslationToLanguageTranslatedNameText)
    </td>
    <td>
        @Html.DisplayFor(m => m.Text)
    </td>
    <td>
        @if (Model.IsUserTranslation)
        {
            <span>My translation of this language</span>
        }
        else if (Model.IsNativeTranslation)
        {
            <span>Native translation of this language</span>
        }
    </td>
</tr>
