<div id="identity_top" class="identity">
    @if (Request.IsAuthenticated)
    {
        <div class="signed-in">
            Signed in as <strong>@User.Identity.Name</strong> <a href="@Url.Action(MVC.Identity.SignIn.SignOut(Request.RawUrl))">
                Sign Out</a>
        </div>
    }
    else
    {
        <div class="signed-out">
            <a href="@Url.Action(MVC.Identity.SignIn.SignIn(Request.RawUrl))">
                Sign In</a> | <a href="@Url.Action(MVC.Identity.SignUp.SendEmail())">Sign Up</a>
        </div>
    }
</div>
