<strong>Expiration date help</strong>
<p>
    Although many institutional agreements will have expiration dates, some do not.
    The reason expiration date is required in UCosmic has to do with automatic review
    features. As long as every agreement has a non-blank expiration date, UCosmic can
    provide timely notifications when agreements are growing stale and should be reviewed.
    If there was an agreement with a blank expiration date, UCosmic would not know when
    to notify you to review it.
</p>
<p>
    To indicate that an agreement does not have an actual expiration date, check the
    "This expiration date is estimated" checkbox. Choose a date when it would be appropriate
    to notify administrators that this agreement is growing stale and should be reviewed.
    Then, enter that date into the expiration date textbox. If you would like to see
    an alternate solution to these cases, click the "Feedback" button on this page and
    tell us your idea.
</p>
<a href="#" class="close-help">Close this popup</a>