<div class="wrap-960">
    <p>
        According to our records, it has been more than 2 hours since a sign up email was
        sent to your email address.
    </p>
    <p>
        For security purposes, the code that was emailed to you expired.
    </p>
    <p>
        Please <a href="@Url.Action(MVC.Identity.SignUp.SendEmail())">sign up again</a>,
        and confirm your email address within the 2 hour window.
    </p>
    <p>
        You will then be able to create a password and sign in.
    </p>
</div>
