@model UCosmic.Www.Mvc.Areas.Identity.Models.SignIn.SignInForm
@{
    ViewBag.Title = "Sign In to UCosmic";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(MVC.Identity.SignIn.SignIn()))
        {
            <fieldset>
                <legend>Email &amp; Password</legend>
                <p>
                    Enter your email address and password below, then click the <b>Sign In</b> button.
                </p>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Congratulations, you have successfully signed up for UCosmic.com!
        </p>
        <p>
            Use the form on the left to sign in using your email address and password.
        </p>
        <p>
            If you ever <a href="@Url.Action(MVC.Identity.Password.ForgotPassword())">forget your
                password</a>, you can <a href="@Url.Action(MVC.Identity.Password.ForgotPassword())">
                    reset it</a> using your email address.
        </p>
    </div>
</div>
