<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="FluentValidation" version="3.4.0.0" targetFramework="net40" />
  <package id="LinqKit" version="1.0" />
  <package id="NGeo" version="1.7.1.0" targetFramework="net40" />
  <package id="Pluralizer" version="0.3.0.1" targetFramework="net40" />
</packages>