<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetHaack" version="0.0.1" />
  <package id="AutoMapper" version="2.1.267" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="elmah" version="1.1" />
  <package id="Elmah.Contrib.Mvc" version="1.0" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="FluentValidation" version="3.3.1.0" />
  <package id="FluentValidation.MVC3" version="3.3.1.0" />
  <package id="jQuery" version="1.7.1" />
  <package id="jQuery.UI.Combined" version="1.8.17" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="LinqKit" version="1.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="MicrosoftWebMvc" version="2.0" />
  <package id="Modernizr" version="2.5.3" />
  <package id="Mvc2Futures" version="2.0.50217.0" />
  <package id="MvcHtml5Templates" version="0.5.0.0" />
  <package id="NGeo" version="1.3.1" />
  <package id="Pluralizer" version="0.3.0.1" />
  <package id="Pluralizer.Mvc" version="0.3.0.1" />
  <package id="SimpleInjector" version="1.4.0.12049" />
  <package id="SimpleInjector.Extensions" version="1.4.1.12070" />
  <package id="SimpleInjector.MVC3" version="1.4.1.12070" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="T4MVC" version="2.8.1" />
  <package id="Unity" version="2.1.505.0" />
  <package id="Unity.Mvc3" version="1.1" />
  <package id="WebActivator" version="1.5" />
</packages>