<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetHaack" version="0.0.1" />
  <package id="AutoMapper" version="2.1.267" />
  <package id="elmah" version="1.2.2" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="FluentValidation" version="3.4.0.0" targetFramework="net40" />
  <package id="FluentValidation.MVC3" version="3.4.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.Pjax" version="0.1.19" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.17" />
  <package id="jQuery.Validation" version="1.9" />
  <package id="Knockout.Mapping" version="2.2.2" targetFramework="net40" />
  <package id="knockoutjs" version="2.0.0.1" targetFramework="net40" />
  <package id="LinqKit" version="1.0" />
  <package id="Microsoft.Data.Edm" version="5.0.2" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.0.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.3" targetFramework="net40" />
  <package id="MicrosoftWebMvc" version="2.0" />
  <package id="Modernizr" version="2.5.3" />
  <package id="Mvc2Futures" version="2.0.50217.0" />
  <package id="MvcHtml5Templates" version="0.5.0.0" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net40" />
  <package id="NGeo" version="1.7.5.0" targetFramework="net40" />
  <package id="Pkcs12ProtectedConfigurationProvider" version="1.0.1" targetFramework="net40" />
  <package id="Pluralizer" version="0.3.0.1" />
  <package id="Pluralizer.Mvc" version="0.3.0.1" />
  <package id="ServiceProviderExtensions" version="1.0" targetFramework="net40" />
  <package id="ServiceProviderLocator" version="1.0" targetFramework="net40" />
  <package id="SimpleInjector" version="1.5.0.12199" targetFramework="net40" />
  <package id="SimpleInjector.Extensions" version="1.5.0.12199" targetFramework="net40" />
  <package id="SimpleInjector.Integration.Web" version="1.5.0.12199" targetFramework="net40" />
  <package id="SimpleInjector.MVC3" version="1.5.0.12199" targetFramework="net40" />
  <package id="System.Spatial" version="5.0.2" targetFramework="net40" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="T4MVC" version="2.10.1" targetFramework="net40" />
  <package id="T4MvcJs" version="1.0.10" targetFramework="net40" />
  <package id="TinyMCE" version="5.10.7" />
  <package id="TinyMCE.MVC" version="3.4.7" />
  <package id="WebActivator" version="1.5" />
  <package id="WindowsAzure.Storage" version="2.0.1.0" targetFramework="net40" />
</packages>