<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <configSections>
        <sectionGroup name="elmah">
            <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
            <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
            <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
            <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
        </sectionGroup>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
        <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    </configSections>
    <configProtectedData>
        <providers>
            <!--<add name="CustomProvider" thumbprint="9975FCFAF342D1FB73631EB5A1CD9BCEF1F102F6" type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d" />-->
        </providers>
    </configProtectedData>
    <dataCacheClients>
        <!--<dataCacheClient name="default">
            <hosts>
                <host name="[Insert Cache EndPoint]" cachePort="22233" />
            </hosts>
            <securityProperties mode="Message">
                <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
            </securityProperties>
        </dataCacheClient>
        <dataCacheClient name="SslEndpoint">
            <hosts>
                <host name="[Insert Cache EndPoint]" cachePort="22243" />
            </hosts>
            <securityProperties mode="Message" sslEnabled="true">
                <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
            </securityProperties>
        </dataCacheClient>-->
    </dataCacheClients>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ApplicationServices;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
        <add name="UCosmicContext" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UCosmicDev;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="webpages:Version" value="1.0.0.0" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
        <add key="DeployedTo" value="develop.ucosmic.com" />
        <add key="GeoNamesUserName" value="danludwig" />
        <add key="GeoPlanetAppId" value="IQ8qmdzV34Fym0.ZGgLAT2e0t0ZR.IL9seudXbNvocaGxOgk34gtQpa7uWPDStsaWgvco5rW8Lo-" />
        <add key="SamlCertificateThumbprint" value="AECA3334550CD3B08749C30C85A63C73903A30BB" />
        <add key="SamlServiceProviderEntityId" value="https://develop.ucosmic.com/sign-on/saml/2" />
        <add key="SimulateAjaxLatencyTimeout" value="1" />
        <add key="EmailDefaultFromAddress" value="cloud@ucosmic.org" />
        <add key="EmailDefaultFromDisplayName" value="UCosmic.com" />
        <add key="EmailDefaultReplyToAddress" value="ucosmic@ucosmic.com" />
        <add key="EmailDefaultReplyToDisplayName" value="UCosmic.com" />
        <add key="EmailInterceptAddresses" value="Dan.Ludwig@ucosmic.org" />
        <add key="EmailEmergencyAddresses" value="Dan.Ludwig@ucosmic.org" />
        <add key="TestMailServer" value="App_Data/mail" />
        <add key="TestMailInbox" value="content/mail" />
        <add key="SignUpUrl" value="https://ucosmic-dev/sign-up" />
        <add key="SignUpEmailConfirmationUrlFormat" value="https://ucosmic-dev/sign-up/confirm-email/{0}/{1}" />
        <add key="PasswordResetUrl" value="https://ucosmic-dev/i-forgot-my-password" />
        <add key="PasswordResetConfirmationUrlFormat" value="https://ucosmic-dev/confirm-password-reset/t-{0}/{1}" />
        <add key="EmailConfirmationUrlFormat" value="https://develop.ucosmic.com/confirm-email/{0}/{1}" />
    </appSettings>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <assembly name="UCosmic.Api" />
        <assembly name="UCosmic.Domain" />
        <assembly name="UCosmic.Impl" />
        <assembly name="UCosmic.Www.Mvc" />
        <namespace name="UCosmic" />
        <namespace name="UCosmic.Domain" />
        <namespace name="UCosmic.Impl" />
        <namespace name="UCosmic.Impl.Orm" />
        <namespace name="UCosmic.Impl.Seeders" />
        <assembly name="NGeo" />
        <namespace name="NGeo.GeoNames" />
        <namespace name="NGeo.Yahoo.GeoPlanet" />
        <namespace name="NGeo.Yahoo.PlaceFinder" />
        <alias alias="singleton-per-http-context" type="UCosmic.Impl.UnityHttpContextLifetimeManager, UCosmic.Impl, Version=2.0.*, Culture=neutral" />
        <typeAliases>
            <typeAlias alias="IDatabaseInitializer" type="System.Data.Entity.IDatabaseInitializer`1[[UCosmic.Impl.Orm.UCosmicContext, UCosmic.Impl, Version=2.0.*, Culture=neutral]], EntityFramework" />
        </typeAliases>
        <container>
            <!-- 
                Entity Framework Dependency Injection:
                There are 2 main dependencies: database initialization, and database seeding.
                Whenever the domain entity model changes, the SQL db will be out of sync. 
                The DropOnModelChangeInitializer only drops and recreates the database when the entity model changes.
                The DropAlwaysInitializer drops and recreates the database after each new solution rebuild.
                The BrownfieldInitializer never drops the database, even if the entity model does not match.
                However the initializer only drops and recreates the database, all tables will be empty.
                To populate with data, use the CompositeDbSeeder. It uses a combination of DbContext and raw SQL to populate the database.
                When the BrownfieldDbSeeder is injected, no data will be seeded. 
                2012.02.22: There is now a DevelopmentDataSqlSeeder, which is much faster than the CompositeDbSeeder.

                When checking in web.config, the DropOnModelChangeInitializer and DevelopmentDataSqlSeeder
                should be active. All other seeders and initializers should be commented out.
            -->
            <register type="IDatabaseInitializer" mapTo="DropOnModelChangeInitializer" />
            <!--<register type="IDatabaseInitializer" mapTo="DropAlwaysInitializer" />-->
            <!--<register type="IDatabaseInitializer" mapTo="BrownfieldInitializer" />-->
            <register type="ISeedDb" mapTo="DevelopmentDataSqlSeeder" />
            <!--<register type="ISeedDb" mapTo="CompositeDbSeeder" />-->
            <!--<register type="ISeedDb" mapTo="BrownfieldDbSeeder" />-->
            <register type="UCosmicContext">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="IUnitOfWork" mapTo="UCosmicContext">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="IQueryEntities" mapTo="UCosmicContext">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="ICommandEntities" mapTo="UCosmicContext">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="ICommandObjects" mapTo="ObjectCommander" />
            <register type="ISignMembers" mapTo="DotNetMembershipProvider" />
            <register type="ISignUsers" mapTo="DotNetFormsAuthentication" />
            <register type="IManageConfigurations" mapTo="DotNetConfigurationManager" />
            <register type="ILogExceptions" mapTo="ElmahExceptionLogger" />
            <register type="ISendEmails" mapTo="MvcEmailSender" />
            <register type="IConsumeHttp" mapTo="WebRequestHttpConsumer" />
            <register type="IProvideSaml2Service" mapTo="ComponentSpaceSaml2ServiceProvider" />
            <register type="IParseSaml2Metadata" mapTo="ComponentSpaceSaml2MetadataParser" />
            <register type="IStoreSamlCertificates" mapTo="PublicSamlCertificateStorage" />
            <!--<register type="IStoreSamlCertificates" mapTo="PrivateSamlCertificateStorage" />-->
            <register type="IConsumeGeoNames" mapTo="GeoNamesClient">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="IConsumeGeoPlanet" mapTo="GeoPlanetClient">
                <lifetime type="singleton-per-http-context" />
            </register>
            <register type="IConsumePlaceFinder" mapTo="PlaceFinderClient">
                <lifetime type="singleton-per-http-context" />
            </register>
        </container>
    </unity>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/sign-in" timeout="2880" cookieless="UseCookies" defaultUrl="~/my/profile" ticketCompatibilityMode="Framework40" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>
        <membership defaultProvider="AspNetSqlMembershipProvider">
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
                <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
            </providers>
        </membership>
        <profile defaultProvider="AspNetSqlProfileProvider">
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
                <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
            </providers>
        </profile>
        <roleManager enabled="true" defaultProvider="UCosmicRoleProvider">
            <providers>
                <clear />
                <add name="UCosmicRoleProvider" type="UCosmic.Impl.CustomRoleProvider, UCosmic.Impl, Version=2.0.*, Culture=neutral" />
            </providers>
            <!--<roleManager defaultProvider="DefaultRoleProvider">
            <providers>
                <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
            </providers>
        </roleManager>-->
        </roleManager>
        <sessionState mode="InProc" cookieless="false" customProvider="DefaultSessionProvider">
            <providers>
                <!--<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />-->
                <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </providers>
            <!--<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
                <providers>
                    <add name="AppFabricCacheSessionStoreProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" useBlobMode="true" dataCacheClientName="SslEndpoint" />
                </providers>
            </sessionState>-->
        </sessionState>
        <caching>
            <!--<outputCache defaultProvider="DistributedCache">
                <providers>
                    <add name="DistributedCache" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" />
                </providers>
            </outputCache>-->
        </caching>
        <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/errors/unexpected.html">
            <error statusCode="400" redirect="~/errors/400.html" />
            <error statusCode="403" redirect="~/errors/403" />
            <error statusCode="404" redirect="~/errors/404.html" />
        </customErrors>
        <httpModules>
            <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
            <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
        </httpModules>
        <httpHandlers>
            <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
        </httpHandlers>
        <!-- unlike requestLimits maxAllowedContentLength, maxRequestLength is in kilobytes (30MB) -->
        <!--<httpRuntime executionTimeout="1800" maxRequestLength="30720" />-->
        <httpRuntime executionTimeout="1800" maxRequestLength="2048" />
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
    </system.web>
    <system.net>
        <mailSettings>
            <!--<smtp deliveryMethod="SpecifiedPickupDirectory">
                --><!--<specifiedPickupDirectory pickupDirectoryLocation="C:\Code\CodeplexTfs\ucosmic\Dev\ConsortiumBranch-2011-06-17\Apps\UCosmic.Www.Mvc\content\smtp\" />--><!--
            </smtp>-->
            <smtp deliveryMethod="Network">
                <network host="smtp.roadrunner.com" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ElmahErrorLog" type="Elmah.ErrorLogModule, Elmah" />
        </modules>
        <handlers>
            <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
        </handlers>
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
            <remove statusCode="400" subStatusCode="-1" />
            <error statusCode="400" prefixLanguageFilePath="" path="/errors/400.html" responseMode="ExecuteURL" />
            <remove statusCode="404" subStatusCode="13" />
            <error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="/errors/file-upload-too-large.html" responseMode="Redirect" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/errors/404.html" responseMode="ExecuteURL" />
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="/errors/403" responseMode="ExecuteURL" />
            <!--<httpErrors errorMode="Detailed">
            </httpErrors>-->
        </httpErrors>
        <staticContent>
            <mimeMap fileExtension=".kml" mimeType="text/xml" />
            <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
        </staticContent>
        <security>
            <requestFiltering>
                <!-- unlike httpRuntime maxRequestLength, maxAllowedContentLength is in bytes (25MB) -->
                <!--<requestLimits maxAllowedContentLength="26214400" />-->
                <requestLimits maxAllowedContentLength="2097152" />
            </requestFiltering>
        </security>
    </system.webServer>
    <elmah>
        <security allowRemoteAccess="yes" />
        <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
        <errorMail subject="Exception Report for develop.ucosmic.com" to="Dan.Ludwig@ucosmic.org" from="cloud@ucosmic.org" async="true" smtpPort="0" useSsl="true" noYsod="false" />
    </elmah>
    <location path="elmah.axd">
        <system.web>
            <authorization>
                <!--http://stackoverflow.com/questions/1046234/securing-elmah-while-yet-making-it-possible-to-access-it-via-rss-reader-->
                <!--<deny users="?" />
                <allow roles="Elmah Viewer" />-->
            </authorization>
        </system.web>
    </location>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="NGeoBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
                    <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
                </binding>
            </webHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://api.geonames.org" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.GeoNames.IInvokeGeoNamesServices" behaviorConfiguration="NGeoBehavior" />
            <endpoint address="http://where.yahooapis.com/v1" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.GeoPlanet.IInvokeGeoPlanetServices" behaviorConfiguration="NGeoBehavior" />
            <endpoint address="http://where.yahooapis.com" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.PlaceFinder.IInvokePlaceFinderServices" behaviorConfiguration="NGeoBehavior" />
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="NGeoBehavior">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="FluentValidation" publicKeyToken="a82054b837897c66" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.diagnostics>
        <trace>
            <listeners>
                <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <!--<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>-->
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>