<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->

    <connectionStrings>
        <add name="ApplicationServices"
          connectionString="Server=b8fea071-747c-443a-9cb0-9fea00619916.sqlserver.sequelizer.com;Database=dbb8fea071747c443a9cb09fea00619916;User ID=dqejwctztgkdwbjn;Password=oNhK4iPJ6o5dGYoi2Gg32BiCteGNTXT4HeKNMN587HyNiQv4bqpt6CNTELqYJbXh;MultipleActiveResultSets=True;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="UCosmicContext"
          connectionString="Server=b8fea071-747c-443a-9cb0-9fea00619916.sqlserver.sequelizer.com;Database=dbb8fea071747c443a9cb09fea00619916;User ID=dqejwctztgkdwbjn;Password=oNhK4iPJ6o5dGYoi2Gg32BiCteGNTXT4HeKNMN587HyNiQv4bqpt6CNTELqYJbXh;;MultipleActiveResultSets=True;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
        <!-- ensure client validation & unobtrustive javascript are enabled -->
        <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <!-- ensure the application reports the correct deployment location -->
        <add key="DeployedTo" value="test.ucosmic.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <!-- Use appropriate URL's in confirmation emails -->
        <add key="ConfirmEmailUrlFormat" value="https://test.ucosmic.com/confirm-email/{0}/{1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <typeAliases></typeAliases>
        <container>
            <register type="IDatabaseInitializer" mapTo="BrownfieldInitializer" xdt:Transform="SetAttributes" xdt:Locator="Match(type)" />
            <register type="ISeedDb" mapTo="CompositeDbSeeder" xdt:Transform="SetAttributes" xdt:Locator="Match(type)" />
        </container>
    </unity>
    <system.web>
        <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    -->

        <customErrors mode="Off" xdt:Transform="Replace">
        </customErrors>
        <!-- reduce file upload size to 2 MB  -->
        <httpRuntime executionTimeout="1800" maxRequestLength="2048" xdt:Transform="Replace" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL" xdt:Transform="Replace">
            <remove statusCode="404" subStatusCode="13" />
            <error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="/errors/file-upload-too-large.html" responseMode="Redirect" />
        </httpErrors>
        <!--<httpErrors xdt:Transform="Remove">
        </httpErrors>-->
        <security>
            <requestFiltering>
                <!-- reduce file upload size to 2 MB  -->
                <requestLimits maxAllowedContentLength="2097152" xdt:Transform="Replace" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
