<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <configProtectedData />
  <dataCacheClients>
    <!--<dataCacheClient name="default">
            <hosts>
                <host name="[Insert Cache EndPoint]" cachePort="22233" />
            </hosts>
            <securityProperties mode="Message">
                <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
            </securityProperties>
        </dataCacheClient>
        <dataCacheClient name="SslEndpoint">
            <hosts>
                <host name="[Insert Cache EndPoint]" cachePort="22243" />
            </hosts>
            <securityProperties mode="Message" sslEnabled="true">
                <messageSecurity authorizationInfo="[Encrypted ACS token goes here]"></messageSecurity>
            </securityProperties>
        </dataCacheClient>-->
  </dataCacheClients>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=ApplicationServices;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="UCosmicContext" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=UCosmicDev;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="UCosmicCloudData" connectionString="UseDevelopmentStorage=true" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DeployedTo" value="develop.ucosmic.com" />
    <add key="GeoNamesUserName" value="danludwig" />
    <add key="GeoPlanetAppId" value="IQ8qmdzV34Fym0.ZGgLAT2e0t0ZR.IL9seudXbNvocaGxOgk34gtQpa7uWPDStsaWgvco5rW8Lo-" />
    <add key="SamlRealServiceProviderEntityId" value="https://develop.ucosmic.com/sign-on/saml/2" />
    <add key="SamlRealCertificateThumbprint" value="1945D599DF7F3B3D6513C87A8CDDF4CE6E0899B6" />
    <add key="SamlTestServiceProviderEntityId" value="https://develop.ucosmic.com/sign-on/saml/2" />
    <add key="SamlTestCertificateThumbprint" value="1945D599DF7F3B3D6513C87A8CDDF4CE6E0899B6" />
    <add key="ConfirmEmailUrlFormat" value="https://develop.ucosmic.com/confirm-email/{0}/{1}" />
    <add key="EmailDefaultFromAddress" value="cloud@ucosmic.org" />
    <add key="EmailDefaultFromDisplayName" value="UCosmic.com" />
    <add key="EmailDefaultReplyToAddress" value="ucosmic@ucosmic.com" />
    <add key="EmailDefaultReplyToDisplayName" value="UCosmic.com" />
    <add key="EmailEmergencyAddresses" value="Dan.Ludwig@ucosmic.org" />
    <add key="EmailInterceptAddresses" value="Dan.Ludwig@ucosmic.org" />
    <add key="MachineValidationAlgorithm" value="SHA1" />
    <add key="MachineValidationKey" value="50D6957AB1689E87D2A48669469912BB6AD6F1E9CB2983FD8879CC3448356DECA420F6AE81A2128867C272C3C42D3A2DBE200473B85FFF170D5CAF1508DA7F14" />
    <add key="MachineDecryptionAlgorithm" value="AES" />
    <add key="MachineDecryptionKey" value="0E59151CEEF4CB8C5A58582857A11830AB9F0D455A0C2825B0D56CF1FEE322BF" />
    <add key="TestMailServer" value="App_Data/mail" />
    <add key="TestMailInbox" value="content/mail" />
    <add key="SimulateAjaxLatencyTimeout" value="1" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <anonymousIdentification enabled="true" cookieless="UseCookies" />
    <authentication mode="Forms">
      <forms loginUrl="~/sign-on" timeout="2880" cookieless="UseCookies" defaultUrl="~/my/home" ticketCompatibilityMode="Framework40" />
    </authentication>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="develop.ucosmic.com" />
      </providers>
    </membership>
    <profile defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="UCosmicRoleProvider">
      <providers>
        <clear />
        <add name="UCosmicRoleProvider" type="UCosmic.Impl.CustomRoleProvider, UCosmic.Impl, Version=2.0.*, Culture=neutral" />
      </providers>
      <!--<roleManager defaultProvider="DefaultRoleProvider">
            <providers>
                <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
            </providers>
        </roleManager>-->
    </roleManager>
    <sessionState mode="InProc" cookieless="false" customProvider="DefaultSessionProvider">
      <providers>
        <!--<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />-->
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
      <!--<sessionState mode="Custom" customProvider="AppFabricCacheSessionStoreProvider">
                <providers>
                    <add name="AppFabricCacheSessionStoreProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" useBlobMode="true" dataCacheClientName="SslEndpoint" />
                </providers>
            </sessionState>-->
    </sessionState>
    <caching>
      <!--<outputCache defaultProvider="DistributedCache">
                <providers>
                    <add name="DistributedCache" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" />
                </providers>
            </outputCache>-->
    </caching>
    <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/errors/unexpected">
      <error statusCode="400" redirect="~/errors/400" />
      <error statusCode="403" redirect="~/errors/403" />
      <error statusCode="404" redirect="~/errors/404" />
    </customErrors>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <!-- unlike requestLimits maxAllowedContentLength, maxRequestLength is in kilobytes (30MB) -->
    <!--<httpRuntime executionTimeout="1800" maxRequestLength="30720" />-->
    <httpRuntime executionTimeout="1800" maxRequestLength="2048" />
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false" />
    <machineKey decryption="AES" decryptionKey="0E59151CEEF4CB8C5A58582857A11830AB9F0D455A0C2825B0D56CF1FEE322BF" validation="SHA1" validationKey="50D6957AB1689E87D2A48669469912BB6AD6F1E9CB2983FD8879CC3448356DECA420F6AE81A2128867C272C3C42D3A2DBE200473B85FFF170D5CAF1508DA7F14" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="App_Data/mail" />
        <network host="localhost" />
      </smtp>
      <!--<smtp deliveryMethod="Network">
        <network host="smtp.roadrunner.com" />
      </smtp>-->
    </mailSettings>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ElmahErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ElmahErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ElmahErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
      <remove statusCode="400" subStatusCode="-1" />
      <error statusCode="400" prefixLanguageFilePath="" path="/errors/400" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="13" />
      <error statusCode="404" subStatusCode="13" prefixLanguageFilePath="" path="/errors/file-upload-too-large" responseMode="Redirect" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/errors/404" responseMode="ExecuteURL" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/errors/403" responseMode="ExecuteURL" />
      <!--<httpErrors errorMode="Detailed">
            </httpErrors>-->
    </httpErrors>
    <staticContent>
      <mimeMap fileExtension=".kml" mimeType="text/xml" />
      <!--<mimeMap fileExtension=".mp4" mimeType="video/mpeg" />-->
    </staticContent>
    <security>
      <requestFiltering>
        <!-- unlike httpRuntime maxRequestLength, maxAllowedContentLength is in bytes (25MB) -->
        <!--<requestLimits maxAllowedContentLength="26214400" />-->
        <requestLimits maxAllowedContentLength="2097152" />
      </requestFiltering>
    </security>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="no" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ApplicationServices" applicationName="develop.ucosmic.com" />
    <errorMail subject="Exception Report for develop.ucosmic.com" to="Dan.Ludwig@ucosmic.org" from="cloud@ucosmic.org" async="true" noYsod="false" />
    <errorFilter>
      <test>
        <or>
          <and>
            <equal binding="HttpStatusCode" value="404" type="Int32" />
            <regex binding="BaseException.Message" pattern="The file '/[^']+' does not exist" />
            <regex binding="FilterSourceType.Name" pattern="mail" />
          </and>
          <and>
            <regex binding="BaseException.Message" pattern="A potentially dangerous Request.Path value was detected from the client \(.\)\." />
            <regex binding="FilterSourceType.Name" pattern="mail" />
          </and>
          <and>
            <regex binding="BaseException.Message" pattern="The requested resource can only be accessed via SSL\." />
            <regex binding="FilterSourceType.Name" pattern="mail" />
          </and>
        </or>
      </test>
    </errorFilter>
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <!--http://stackoverflow.com/questions/1046234/securing-elmah-while-yet-making-it-possible-to-access-it-via-rss-reader-->
        <allow roles="Elmah Viewer" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <!--<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="NGeoBinding" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://api.geonames.org" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.GeoNames.IInvokeGeoNamesServices" behaviorConfiguration="NGeoBehavior" />
      <endpoint address="http://where.yahooapis.com/v1" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.GeoPlanet.IInvokeGeoPlanetServices" behaviorConfiguration="NGeoBehavior" />
      <endpoint address="http://where.yahooapis.com" binding="webHttpBinding" bindingConfiguration="NGeoBinding" contract="NGeo.Yahoo.PlaceFinder.IInvokePlaceFinderServices" behaviorConfiguration="NGeoBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NGeoBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>