@*@using UCosmic.Www.Mvc.Areas.Identity.Models.Password
@model CreatePasswordForm
@{
    ViewBag.Title = "Setup your UCosmic password";
}
<h2>
    Create your password
</h2>
<table class="page page-50-50">
    <tr>
        <td class="left">
            <fieldset>
                <legend>Sign In Password</legend>
                <p>
                    To create your password, enter the same password in both text boxes below and click
                    the <b>Create Password</b> button.
                </p>
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel()
                }
            </fieldset>
        </td>
        <td class="center">
        </td>
        <td class="right">
            <p>
                Passwords may contain any combination of uppercase and lowercase letters, numbers,
                and special characters. The only restriction is that passwords must contain <b>at least
                    6 characters</b>.
            </p>
            <p>
                If you want to create a strong password, use a combination of uppercase and lowercase
                letters, numbers, and special characters.
            </p>
            <p>
                After you create your password, you will automatically be signed into UCosmic.com.
            </p>
            <p>
                If you ever forget your password, you can use your email address to reset it.
            </p>
        </td>
    </tr>
</table>
*@