@*@{
    ViewBag.Title = "Reset password window expired";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960">
    <p>
        For security purposes, you can only reset your password immediately after confirming
        your email address.
    </p>
    <p>
        To reset your password, click the URL in the password reset instructions message
        that was sent to you.
    </p>
    <p>
        If you deleted the message, please @Html.ActionLink("click here to generate a new password reset email", MVC.Identity.Password.ForgotPassword()).
    </p>
</div>
*@