<div class="wrap-960">
    <p>
        According to our records, you have already used this email to reset your password.
    </p>
    <p>
        If you forgot your password again, <a href="@Url.Action(MVC.Identity.ForgotPassword.Get())">
            you can reset it here using your email address</a>.
    </p>
    <p>
        When you receive the email, use it to reset your password within 2 hours.
    </p>
</div>
