/* hyperlinks */
.ucosmic a:link {
    color: #007A0E;
}
.ucosmic a:visited {
    color: #007A0E;
}
.ucosmic a:hover {
    text-decoration: none;
}
.ucosmic a:active {
    color: #007A0E;
}
.ucosmic a.visitable:visited {
    color: #007A0E;
}
.ucosmic a.visitable:active {
    color: #007A0E;
}



/* jquery ui-dialog re-theme */
.ucosmic.modal.ui-dialog .ui-dialog-titlebar {
    background-color: #006747;
    color: #CFC493;
}



/* text boxes */
.ucosmic > .head > .center .search.row .input.col .text-box.input {
    border-color: #fff;
    background-color: #fff;
}
.ucosmic > .head > .center .search.row .input.col .combobox a.down-arrow, .ucosmic > .head > .center .search.row .input.col .emptybox a.empty-icon {
    background-color: #fff;
    border-color: #fff;
}
.ucosmic > .head > .center .search.row .input.col .button-sized.combobox a.down-arrow:hover, .ucosmic > .head > .center .search.row .input.col .button-sized .combobox a.down-arrow:hover {
    background-color: #fff;
}
.ucosmic .input-validation-error .text-box.input {
    background: #BB1847;
}
/* validation */
.ucosmic input[type=text].input-validation-error, .ucosmic input[type=password].input-validation-error, .ucosmic input[type=email].input-validation-error, .ucosmic input[type=date].input-validation-error, .ucosmic textarea.input-validation-error {
    color: #DBE442;
}
.ucosmic .input-validation-error input[type=text].watermark {
    color: #DBE442;
}
.ucosmic .input-validation-error input[type=text].focused.watermark {
    color: #ddd;
}
.ucosmic .validation-summary-errors
{
    border-color: #BB1847;
    background-color: #BB1847;
}
.ucosmic span.field-validation-error {
    border: solid 1px #DBE442;
    color: #BB1847;
}



/* hat 33px tall */
.ucosmic .top-tabs {
    border-bottom-color: #006747;
    background-color: #006747;
}
.ucosmic .top-tabs a {
    color: #e0d1a5;
}
.ucosmic .top-tabs a:hover, .ucosmic .top-tabs a.open {
    color: #006747;
    border-color: #006747;
    border-bottom-color: #fff;
    padding: 2px 8px 0;
}
.ucosmic .top-tabs a.docked {
    color: #006747;
    border-color: #fff;
    padding: 2px 8px 0;
}
.ucosmic .top-tabs a.open.has-sub {
    color: #006747;
}
.ucosmic .top-tabs .sub-nav {
    border-color: #006747;
}
.ucosmic .top-tabs .sub-nav a, .ucosmic .top-tabs .sub-nav a:hover {
    color: #006747;
    border-color: transparent;
    border-left-color: #e0d1a5;
    padding: 1px 6px 1px 10px;
}


/* head 77px tall */
.ucosmic > .head {
    border-bottom-color: #006747;
}
.ucosmic > .head > .center > h1 {
    color: #006747;
}



/* layout skeleton */



/* footer bar 33px tall */
.ucosmic > .feet > .footer {
    border-top: solid 1px #00573c;
    background: #e0d1a5;
}
.ucosmic > .feet > .footer a {
    color: #007A0E;
}
.ucosmic > .feet > .footer a.button-sized {
    border-top: 0;
    border-bottom: 0;
}
