@using UCosmic.Www.Mvc.Models
<div class="footer">
    <a href="http://www.ucosmic.org" target="_blank">The UCosmic Consortium</a>
    @Html.Partial(MVC.Shared.Views.uservoice_link, new UserVoiceLink(Request, ViewData))
    <a href="https://ucosmic.wordpress.com" target="_blank">Blog</a>
</div>
