@*@model UCosmic.Www.Mvc.Areas.Identity.Models.SignIn.OldSignInForm
@{
    ViewBag.Title = "Sign out of UCosmic";
    Layout = MVC.Shared.Views.layout;
}
<div class="wrap-960 split-form">
    <div class="left">
        @using (Html.BeginForm(MVC.Identity.OldSignIn.SignIn()))
        {
            <fieldset>
                <legend>Email &amp; Password</legend>
                <p>
                    Enter your email address and password below, then click the <b>Sign In</b> button
                    to sign back in.
                </p>
                @Html.EditorForModel()
            </fieldset>
        }
    </div>
    <div class="right">
        <p>
            Use the form on the left to sign back in. You will be taken back to the last page
            you were on before you clicked the <b>Sign Out</b> link.
        </p>
        <div>
            @Html.ValidationSummary(false, "Unable to sign in:")
        </div>
    </div>
</div>
*@