@model UCosmic.Www.Mvc.Areas.My.Models.UpdateNameForm
@{
    ViewBag.Title = "Update my name";
    Layout = MVC.Shared.Views.layout;
    Layout = (ViewBag.NullLayout == null) ? Layout : null;
}
@using (Html.BeginForm(
    MVC.My.UpdateName.ActionNames.Put,
    MVC.My.UpdateName.Name,
    new
    {
        area = MVC.My.Name,
        httpMethod = "POST",
    }
))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <fieldset>
        <legend>My Name</legend>
        <p>
            Use the form below to update your name.
        </p>
        @Html.EditorForModel()
    </fieldset>
}
