<div class="pull-in">
    <br>
    <div class="text-box input">
        <input type="text" value="This is a normal text box. It just queries yall for content which cannot be contained with a short width."
            class="text-box single-line">
    </div>
    <br>
    <div class="bold text-box input">
        <input type="text" value="This is a bold text box. It just queries yall for content which cannot be contained with a short width."
            class="text-box single-line">
    </div>
    <br>
    <div class="combobox">
        <div class="text-box input">
            <input type="text" value="This is a down arrow text box. It just queries yall for content which cannot be contained with a short width."
                class="text-box single-line">
        </div>
        <a class="text-box down-arrow">
            <img class="text-box down-arrow" alt="" src="/content/icons/transparent.png">
        </a>
    </div>
    <br>
    <div class="button-sized text-box input">
        <input type="text" value="This is a button-sized text box. It just queries yall for content which cannot be contained with a short width."
            class="text-box single-line">
    </div>
    <br>
    <h1>
        Heading 1
    </h1>
    <h2>
        Heading 2
    </h2>
    <h3>
        Heading 3
    </h3>
    <h4>
        Heading 4
    </h4>
    <h5>
        Heading 5
    </h5>
    <h6>
        Heading 6
    </h6>
    <p>
        Here's a horizontally-scrollable <a href="#">thing</a>:
    </p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
    <p>
        This is enough - bye.</p>
</div>
