@model IEnumerable<UCosmic.Www.Mvc.Areas.Activities.Models.Form.Tag>
@{
    var emptyLiDisplay = Model != null && Model.Any() ? "none" : "list-item";
}
<ol class="tags ui-helper-clearfix">
    <li class="empty" style="display: @emptyLiDisplay;"><strong>[No tags so far, add at least one]</strong></li>
    @foreach (var tag in Model)
    {
        <li>@Html.EditorFor(m => m)</li>
    }
</ol>
