<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.1.267" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="elmah.corelibrary" version="1.2.2" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="FluentValidation" version="3.3.1.0" />
  <package id="NGeo" version="1.4.4581.28852" targetFramework="net40" />
  <package id="ServiceProviderExtensions" version="1.0" targetFramework="net40" />
  <package id="ServiceProviderLocator" version="1.0" targetFramework="net40" />
  <package id="SimpleInjector" version="1.4.0.12049" />
  <package id="SimpleInjector.Extensions" version="1.4.1.12070" />
  <package id="Unity" version="2.1.505.0" />
</packages>